.landing{
  background:  url(../assets/backgrounds/hero.jpg) no-repeat center fixed;
  background-size: cover;
  height: 650px;
  text-align: center;

}
li{
  display: inline;

}
.navbar{
  background: transparent;
  border: none;
}

h1{
  font-family: sans-serif;
  padding-top: 150px;
	font-size: 50px;
	color: white;
  text-align: center;
}
h5{
  font-family: serif;
  font-size: 15px;
	color: white;
  text-align: center;

}

.mclick{
	padding-top: 240px;
}


.gender{
  background-color: #d3d3d3;
  height: 80px;
  padding-top: 15px;
  /*padding-left: 30px;*/

}

#submit_button{
	background-color: #b22222;
  color: white;
  float: right;
  padding-right: 10px;
}
p {
    display: flex;
    align-items:center ;

}

.sproducts {

    content:"";
    flex: 1 1 auto;
    border-top: 1px solid grey;
  }

  .products{

    padding-top: 50px;
  }


.about{
  background: url(../assets/backgrounds/about.jpg)no-repeat center fixed;
  background-size: cover;
  height:650px;

}

.sabout{
  padding-top: 50px;
  text-align: center;
  color: white;

}
.sale{
  background-color:#696969;
  height: 50px;
  text-align: center;

}
.footer{
background-color: #8b8b83;
text-align: center;

}
